/Gucci/nbproject/private/
/Gucci/build/
/Gucci_Page - copia/nbproject/private/
/Gucci_Page - copia/public_html/Gucci_Page/nbproject/private/
/Pagina/nbproject/private/
/mavenproject1/target/
/Gucci1.1/target/
/Gucc1/nbproject/private/
/Gucc/nbproject/private/
/Gucc/build/
/Gucci_1/nbproject/private/
/Gucci_1/build/
/Gucci_2/nbproject/private/
/Gucci_2/build/
